<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Revel Admin', 'none')" />
<body class="body-padding body-p-top light-theme">

	<!-- header start -->
	<span th:replace="header :: header"></span>
	<!-- header end -->

	<!-- main sidebar start -->
	<span th:replace="sidebar :: sidebar"></span>
	<!-- main sidebar end -->

     <!-- main content start -->
  <div class="main-content">
        <div class="row g-4">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-header">
                        <h5>All Users</h5>
                        <div class="btn-box d-flex gap-2">
                       		<a th:href="@{/users/export/csv}" class="btn btn-sm btn-icon btn-outline-primary" title="Download CSV" ><i class="fa-light fa-file-spreadsheet"></i></a>
                            <a th:href="@{/users/export/excel}"class="btn btn-sm btn-icon btn-outline-primary" title="Download Excel" ><i class="fa-light fa-file-spreadsheet"></i></a>
                            <a th:href="@{/users/export/pdf}" class="btn btn-sm btn-icon btn-outline-primary" title="Download PDF" ><i class="fa-light fa-file-pdf"></i></a>                          
                        </div>
                    </div>
                    <div class="panel-body">
                       <div class="table-filter-option">
                            <div class="row g-3">
                                <div class="col-xl-10 col-9 col-xs-12">
                                    <div class="row g-3">
                                        <div class="col">
                                            <div th:replace="fragments :: search_form_and_message" />
                                         
                                        </div>                                      
                                                      
                                    </div>
                                </div>
                                <div class="col-xl-2 col-3 col-xs-12 d-flex justify-content-end">
                                    <div id="productTableLength"></div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-dashed table-hover digi-dataTable all-product-table table-striped">
                            <thead>
                                <tr>
                                    <th th:replace="fragments :: column_link('id', 'User ID', 'none')" />
                                    <th>Photo</th>
                                    <th th:replace="fragments :: column_link('email', 'E-mail', 'none')" />
                                    <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')" />
									<th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" />
                                    <th>Roles</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${listUsers}">                                   
                                    <td>#[[${user.id}]]</td>
                                    <td><div th:replace="fragments :: user_photos" /></td>
                                    <td>[[${user.email}]]</td>
                                    <td>[[${user.firstName}]]</td>
									<td>[[${user.lastName}]]</td>
									<td>[[${user.roles}]]</td>
									<td><div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" /></td>
                                    <td>
                                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
										&nbsp;&nbsp;
										<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
                                    </td>
                                </tr>
                           
                            </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                        	<div th:replace="fragments :: pagination('users')"></div>	
                        	 			
                    </div>
                </div>
            </div>
        </div>

        <!-- footer start -->
        <div class="footer">
            <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">Revel</span></p>
        </div>
        <!-- footer end -->   
    </div>
     <div th:replace="modal_fragments :: confirm_modal" /></div>			
    <script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		entityName = "user";
	</script>
	<script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/vendor/js/moment.min.js}"></script>
    <script th:src="@{/vendor/js/daterangepicker.js}"></script>
    <script th:src="@{/vendor/js/select2.min.js}"></script>
    <script th:src="@{/vendor/js/pdfmake.min.js}"></script>
    <script th:src="@{/vendor/js/html2canvas.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}" ></script>
</body>
</html>