<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="row g-3 mb-3">
			<label for="regularPrice"
				class="col-md-2 col-form-label col-form-label-sm">Regular
				Price ($)</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					step="0.01" th:field="*{price}">
			</div>
		</div>
		<div class="row g-3 mb-3">
			<label for="salePrice"
				class="col-md-2 col-form-label col-form-label-sm">Discount
				($)</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					step="0.01" th:field="*{discountPercent}">
			</div>

		</div>
		<div class="row g-3 mb-3">
			<label for="salePrice"
				class="col-md-2 col-form-label col-form-label-sm">Cost (%)</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					step="0.01" th:field="*{cost}">
			</div>
		</div>
	</div>
</body>
</html>