<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
		<div class="row g-3 mb-3">
			<label class="col-md-2 col-form-label col-form-label-sm">Length
				(inch) <span class="btn-flush fs-14" data-bs-toggle="tooltip"
				data-bs-custom-class="custom-tooltip"
				data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i
					class="fa-solid fa-circle-question"></i></span>
			</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					th:value="${product.length}" readonly/>
			</div>
		</div>

		<div class="row g-3 mb-3">
			<label class="col-md-2 col-form-label col-form-label-sm">Width
				(inch) <span class="btn-flush fs-14" data-bs-toggle="tooltip"
				data-bs-custom-class="custom-tooltip"
				data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i
					class="fa-solid fa-circle-question"></i></span>
			</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					th:value="${product.width}" readonly/>
			</div>
		</div>
		
		<div class="row g-3 mb-3">
			<label class="col-md-2 col-form-label col-form-label-sm">Height
				(inch) <span class="btn-flush fs-14" data-bs-toggle="tooltip"
				data-bs-custom-class="custom-tooltip"
				data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i
					class="fa-solid fa-circle-question"></i></span>
			</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					th:value="${product.height}" readonly/>
			</div>
		</div>
		
		<div class="row g-3 mb-3">
			<label class="col-md-2 col-form-label col-form-label-sm">Weight (pounds)
				 <span class="btn-flush fs-14" data-bs-toggle="tooltip"
				data-bs-custom-class="custom-tooltip"
				data-bs-title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."><i
					class="fa-solid fa-circle-question"></i></span>
			</label>
			<div class="col-md-10">
				<input type="number" class="form-control form-control-sm"
					th:value="${product.weight}" readonly/>
			</div>
		</div>

	</div>
</body>
</html>