<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Authors - Admin', 'none')" />
<body class="body-padding body-p-top light-theme">

	<!-- header start -->
	<span th:replace="header :: header"></span>
	<!-- header end -->

	<!-- main sidebar start -->
	<span th:replace="sidebar :: sidebar"></span>
	<!-- main sidebar end -->

     <!-- main content start -->
  <div class="main-content">
        <div class="row g-4">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-header">
                        <h5>Manage Authors</h5>
                        <div class="btn-box d-flex gap-2">
                        <a th:href="@{/authors/new}" class="btn btn-sm btn-icon btn-outline-primary" title="New Author" ><i class="fa-light fa-plus"></i></a>       
                       	<a th:href="@{/authors/export/csv}" class="btn btn-sm btn-icon btn-outline-primary" title="Download CSV" ><i class="fa-light fa-file-spreadsheet"></i></a>                                        
                        </div>
                    </div>
                    <div class="panel-body">
                       <div class="table-filter-option">
                            <div class="row g-3">
                                <div class="col-xl-10 col-9 col-xs-12">
                                    <div class="row g-3">
                                        <div class="col">
                                            <div th:replace="fragments :: search_form_and_message" />
                                         
                                        </div>                                      
                                                      
                                    </div>
                                </div>
                                <div class="col-xl-2 col-3 col-xs-12 d-flex justify-content-end">
                                    <div id="productTableLength"></div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-dashed table-hover digi-dataTable all-product-table table-striped">
                            <thead>
                                <tr>
                                    <th th:replace="fragments :: column_link('id', 'ID', 'none')" />
                                    <th>Photo</th>
                                    <th th:replace="fragments :: column_link('name', 'Author Name', 'none')" />
                                    <th>Categories</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="author : ${listAuthors}">                                   
                                    <td>#[[${author.id}]]</td>
                                    <td><div th:replace="fragments :: author_photos" /></td>
                                   <td>[[${author.name}]]</td>
									<td>
										<th:block th:each="cat : ${author.categories}">
										<span class="badge bg-warning text-dark" th:text="${cat.name}"></span>
										</th:block>
									</td>
                                    <td>
                                        <div th:replace="fragments :: edit('author', '/authors/edit/' + ${author.id})" />
										&nbsp;&nbsp;
										<div th:replace="fragments :: delete('author', ${author.id}, '/authors/delete/' + ${author.id}, true)" />	
                                    </td>
                                </tr>
                           
                            </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                        	<div th:replace="fragments :: pagination('authors')"></div>
						</div>               	 			
                    </div>
                </div>
            </div>
        </div>

        <!-- footer start -->
        <div class="footer">
            <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">eCommerce</span></p>
        </div>
        <!-- footer end -->   

     <div th:replace="modal_fragments :: confirm_modal" /></div>			
	<script type="text/javascript">
		moduleURL = "[[@{/authors}]]";
		entityName = "author";
	</script>
	<script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/vendor/js/moment.min.js}"></script>
    <script th:src="@{/vendor/js/daterangepicker.js}"></script>
    <script th:src="@{/vendor/js/select2.min.js}"></script>
    <script th:src="@{/vendor/js/pdfmake.min.js}"></script>
    <script th:src="@{/vendor/js/html2canvas.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}" ></script>
</body>
</html>