<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body class="body-padding body-p-top light-theme">
	<!-- header start -->
	<span th:replace="header :: header"></span>
	<!-- header end -->

	<!-- main sidebar start -->
	<span th:replace="sidebar :: sidebar"></span>
	
	    <!-- main content start -->
    <div class="main-content">
        <div class="dashboard-breadcrumb mb-30">
            <h2>Manage Authors | [[${pageTitle}]]</h2>	
        </div>
        <div class="row g-10">
            <div class="col-xxl-12 col-md-12">
                <div class="panel">
                    <div class="panel-header">
                        <h5>Add New Author</h5>
                    </div>
                    <div class="panel-body">
                    <form th:action="@{/authors/save}" method="post" enctype="multipart/form-data"
					onsubmit="return checkUnique(this)"
					th:object="${author}">	
					<input type="hidden" th:field="*{id}" />				
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="form-label">Author Name</label>
                                <input type="text" class="form-control form-control-sm" th:field="*{name}" required minlength="3" maxlength="45"  />
                            </div>
                         
                            <div class="col-6">
                                <label class="form-label">Select one or more categories</label>
                                <select class="form-control form-control-sm" th:field="*{categories}" multiple required>
                                   <th:block th:each="cat : ${listCategories}">
                                   <option th:value="${cat.id}">[[${cat.name}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            
                             <div class="col-12">
                                <label class="form-label">Chosen categories</label>				                  
								<div id="chosenCategories">					
							</div>
                            </div>
                           
                            <div class="col-12">
                                <div class="upload-category-thumbnail">
                                    <label class="form-label">Photo</label>
                                    <input type="hidden" th:field="*{logo}" />
                                    <input type="file" id="fileImage" name="fileImage" accept="image/*" 
                                   th:required="${author.id == null}"
                                    width="200px;" height="200px;">
                                    
                                    <div class="mt-2">
									<img id="thumbnail" alt="Image preview" th:src="@{${author.logoPath}}"
									width="200px;" height="200px;" />
									</div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <div class="btn-box">
                                    <button type="submit" class="btn btn-sm btn-primary">Save </button>
                                     <button type="button" id="buttonCancel" class="btn btn-sm btn-primary">Cancel </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- footer start -->
        <div class="footer">
            <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">eCommerce</span></p>
        </div>
        <!-- footer end -->
    </div>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <!-- main content end -->
<script type="text/javascript">
	MAX_FILE_SIZE = 102400; // 100KB
	moduleURL = "[[@{/authors}]]";
	
	function checkUnique(form) {
		authorId = $("#id").val();
		authorName = $("#name").val();
		
		csrfValue = $("input[name='_csrf']").val();
		
		url = "[[@{/authors/check_unique}]]";
		
		params = {id: authorId, name: authorName, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicate") {
				showWarningModal("There is another author having same name " + authorName);	
			} else {
				showErrorModal("Unknown response from server");
			}
			
		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});
		
		return false;
	}	
	
</script>
    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.uploader.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/js/select2.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/common_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}" ></script>
</body>
</html>