<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>[[${title}]]</title>
	
	<link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/vendor/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/OverlayScrollbars.min.css}">
     <link rel="stylesheet" th:href="@{/vendor/css/jquery.uploader.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/jquery.dataTables.min.css}">
     <link rel="stylesheet" th:href="@{/vendor/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" id="primaryColor" th:href="@{/css/orange-color.css}">
</head>
<body>	
	<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a
			th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
			[[${columnLabel}]]
		</a>								
		<span th:if="${sortField == fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
	</th>
						
	<a th:fragment="page_link(pageNum, label)"
		class="page-link" 
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${label}]]</a>

   <!-- SHOW PHOTO START -->
	<div th:fragment="user_photos" th:remove="tag">
		<div class="table-product-card">
			<div class="part-img">
				<img th:if="${user.photos == null}" th:src="@{/images/product-img-1.jpg}" alt="Image">
				<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt="Image">
			</div>
		</div>
	</div>
	<div th:fragment="category_photos" th:remove="tag">
		<div class="table-product-card">
			<div class="part-img">
				<img th:if="${cat.imagePath == null}" th:src="@{/images/product-img-1.jpg}" alt="Image">
				<img th:if="${cat.imagePath != null}" th:src="@{${cat.imagePath}}" alt="Image">
			</div>
		</div>
	</div>
   <!-- SHOW PHOTO END -->

	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fas fa-check-circle" style="color: #008000"
			th:href="@{${entityURL} + '/enabled/false'}"
			th:title="'Disable this ' + ${entityName}"
			></a>
			
		<a th:if="${enabled == false}" class="fas fa-circle"  
			th:href="@{${entityURL} + '/enabled/true'}"
			th:title="'Enable this ' + ${entityName}"
			></a>	
	</div>
	
	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fas fa-edit" style="color: #4169E1" th:href="@{${editURL}}"
			th:title="'Edit this ' + ${entityName}"></a>
	</div>
	
	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
		<th:block th:if="${visible}">		
		<a class="fas fa-trash link-delete" style="color: #DC143C"
			th:href="@{${deleteURL}}"
			th:entityId="${entityId}"
			th:title="'Delete this ' + ${entityName}"></a>
		</th:block>	
	</div>
	
	<div th:fragment="pagination(entityName)" th:remove="tag">
	<div class="text-center m-1" th:if="${totalItems > 0}">
		 <small class="text-muted">Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</small>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No [[${entityName}]] found</span>
	</div>
	
	<div th:if="${totalPages > 1}">
		<nav>
		  <ul class="pagination justify-content-center flex-wrap">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(1, 'First')"></a>
		    </li>		  
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
		    </li>
		    
		    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
		    	th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a th:replace="fragments :: page_link(${i}, ${i})"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${totalPages}, 'Last')"></a>
		    </li>		    
		  </ul>
		</nav>	
	</div>		
	</div>
	
	<div th:fragment="search_form_and_message()">
		<form th:action="@{${moduleURL} + '/page/1'}" class="row g-2">
			<input type="hidden" name="sortField" th:value="${sortField}" /> <input
				type="hidden" name="sortDir" th:value="${sortDir}" />
			<div class="col">
				<input type="search" name="keyword" th:value="${keyword}"
					class="form-control" required />
			</div>
			<div class="col">
				<button class="btn btn-sm btn-primary">
					<i class="fa-light fa-search"></i> Search
				</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-sm btn-primary"
					onclick="clearFilter()">
					<i class="fa-light fa-eraser"></i> Clear
				</button>
			</div>
		</form> 
		<br>
		<div th:if="${message != null}" class="msg-success alert alert-success py-2 px-3 rounded mb-20 fs-14"><i class="fa-regular fa-check me-2"></i>[[${message}]]</div>	
	</div>
	
	<div th:fragment="format_currency(amount)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</div>
	
	<div th:fragment="format_time(dateTime)" th:remove="tag">
		<span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	</div>
	
	<div th:fragment="currency_input(amount)" th:remove="tag">
		<input type="text" readonly class="form-control" th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
	</div>
				
</body>
</html>