<!DOCTYPE html>
<html lang="en" data-menu="flush-menu" data-nav-size="nav-default" 
xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Dashboard | Revel eCommerce Admin', 'none')" />

<body class="body-padding body-p-top light-theme">

	<!-- header start -->
		<span th:replace="header :: header"></span>
	<!-- header end -->

	<!-- main sidebar start -->
		<span th:replace="sidebar :: sidebar"></span>
	<!-- main sidebar end -->

	<!-- main content start -->
		<span th:replace="main_content :: main_content"></span>
	<!-- main content end -->

	<script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/vendor/js/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/vendor/js/apexcharts.js}"></script>
	<script th:src="@{/vendor/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/js/moment.min.js}"></script>
	<script th:src="@{/vendor/js/daterangepicker.js}"></script>
	<script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}" ></script>
</body>
</html>