<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Revel eCommerce Admin</title>
    
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/vendor/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" id="primaryColor" th:href="@{/css/orange-color.css}">
</head>
<body class="light-theme">

    <!-- main content start -->
    <div class="main-content login-panel">
        <div class="login-body">
            <div class="top d-flex justify-content-between align-items-center">
                <div class="logo">
                    <img th:src="@{/images/logo-black.png}" alt="Logo">
                </div>
                <a th:href="index.html"><i class="fa-duotone fa-house-chimney"></i></a>
            </div>
            <div class="bottom">
                <h3 class="panel-title">Login</h3>
                <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
					 <div class="msg-error alert alert-danger py-2 px-3 rounded mb-20 fs-14"><i class="fa-regular fa-circle-exclamation me-2"></i> [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
				</div>
				<div th:if="${param.logout}">
					<div class="msg-error alert alert-warning py-2 px-3 rounded mb-20 fs-14"><i class="fa-regular fa-circle-exclamation me-2"></i> You have been logged out.</div>
				</div>
                    <div class="input-group mb-30">
                        <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
                        <input type="email" name="email" class="form-control" placeholder="Email address" required>
                    </div>
                    <div class="input-group mb-20">
                        <span class="input-group-text"><i class="fa-regular fa-lock"></i></span>
                        <input type="password" name="password" class="form-control rounded-end" placeholder="Password" required>
                        <a role="button" class="password-show"><i class="fa-duotone fa-eye"></i></a>
                    </div>
                    <div class="d-flex justify-content-between mb-30">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember-me" >
                            <label class="form-check-label text-white" for="loginCheckbox">
                                Remember Me
                            </label>
                        </div>
                     
                    </div>
                    <button type="submit" class="btn btn-primary w-100 login-btn">Sign In</button>
                </form>
            </div>
        </div>

        <!-- footer start -->
        <div class="footer">
            <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">Revel</span></p>
        </div>
        <!-- footer end -->
    </div>
    <!-- main content end -->
    
    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>