<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	 <!-- main sidebar start -->
    <div class="main-sidebar flush-menu" th:fragment="sidebar">
        <div class="main-menu">
            <ul class="sidebar-menu scrollable">
                <li class="sidebar-item open">
                    <ul class="sidebar-link-group">
                        <li class="sidebar-dropdown-item">
                            <a href="dashboard-index.html" class="sidebar-link active"><span class="nav-icon"><i class="fa-light fa-grid-2"></i></span> <span class="sidebar-txt">Dashboard</span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a role="button" class="sidebar-link-group-title has-sub">Apps</a>
                    <ul class="sidebar-link-group">
                    
                   		 <th:block sec:authorize="hasAuthority('Editor')">
                    	 <li class="sidebar-dropdown-item">
                            <a th:href="@{/sections}" class="sidebar-link"><span class="nav-icon"><i class="fa-duotone fa-house"></i></span> <span class="sidebar-txt">Home Page</span></a>
                        </li>
                         </th:block>
                         
                    	 <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <li class="sidebar-dropdown-item">
                            <a th:href="@{/categories}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-tag"></i></span> <span class="sidebar-txt">Categories</span></a>
                        </li>
                         <li class="sidebar-dropdown-item">
                            <a th:href="@{/authors}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-at"></i></span> <span class="sidebar-txt">Authors</span></a>
                        </li>
                        </th:block>
                        
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                         <li class="sidebar-dropdown-item">
                            <a role="button" class="sidebar-link has-sub" data-dropdown="authDropdown"><span class="nav-icon"><i class="fa-light fa-boxes"></i></span> <span class="sidebar-txt">Products</span></a>
                            <ul class="sidebar-dropdown-menu" id="authDropdown">                             
                                <li class="sidebar-dropdown-item"><a th:href="@{/products/new}" sec:authorize="hasAnyAuthority('Admin', 'Editor')" class="sidebar-link">Add Product</a></li>
                                <li class="sidebar-dropdown-item"><a th:href="@{/products}" class="sidebar-link">Products</a></li>
                          
                         	 <th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
                         	  <li class="sidebar-dropdown-item"><a th:href="@{/questions}" class="sidebar-link">Questions</a></li>
                         	  <li class="sidebar-dropdown-item"><a th:href="@{/reviews}" class="sidebar-link">Reviews</a></li>
                         	 </th:block>
                            </ul>
                        </li>
                        </th:block>
                     
                     	<th:block sec:authorize="hasAuthority('Assistant')">
                     	 <li class="sidebar-dropdown-item">
                            <a th:href="@{/questions}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-message-question"></i></span> <span class="sidebar-txt">Questions</span></a>
                        </li>
                         <li class="sidebar-dropdown-item">
                            <a th:href="@{/reviews}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-star-sharp-half-stroke"></i></span> <span class="sidebar-txt">Reviews</span></a>
                        </li>
                        </th:block>
                        
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                         <li class="sidebar-dropdown-item">
                            <a href="dashboard-all-customer.html" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-user-group"></i></span> <span class="sidebar-txt">Customers</span></a>
                        </li>
                         <li class="sidebar-dropdown-item">
                            <a href="dashboard-all-customer.html" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-truck-fast"></i></span> <span class="sidebar-txt">Shipping Rates</span></a>
                        </li>
                        </th:block>
                                          
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">     
                        <li class="sidebar-dropdown-item">
                            <a th:href="@{/orders}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-cart-shopping-fast"></i></span> <span class="sidebar-txt">Orders</span></a>
                        </li>
                        </th:block>
                        
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                        <li class="sidebar-dropdown-item">
                            <a th:href="@{/reports}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-calendar"></i></span> <span class="sidebar-txt">Sales Report</span></a>
                        </li>
                        </th:block>
                        
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <li class="sidebar-dropdown-item">
                            <a th:href="@{/articles}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-file-invoice"></i></span> <span class="sidebar-txt">Articles</span></a>
                        </li>
                        <li class="sidebar-dropdown-item">
                            <a th:href="@{/menus}" class="sidebar-link"><span class="nav-icon"><i class="fa-light fa-bars"></i></span> <span class="sidebar-txt">Menus</span></a>
                        </li>
                        </th:block>
                      
                    </ul>
                </li>
                <th:block sec:authorize="hasAuthority('Admin')">
                <li class="sidebar-item">
                    <a role="button" class="sidebar-link-group-title has-sub">Pages</a>
                    <ul class="sidebar-link-group">
                        <li class="sidebar-dropdown-item">
                            <a role="button" class="sidebar-link has-sub" data-dropdown="authDropdown"><span class="nav-icon"><i class="fa-light fa-user-cog"></i></span> <span class="sidebar-txt">Authentication</span></a>
                            <ul class="sidebar-dropdown-menu" id="authDropdown">                             
                                <li class="sidebar-dropdown-item"><a th:href="@{/users/new}" class="sidebar-link">Add New User</a></li>
                                <li class="sidebar-dropdown-item"><a th:href="@{/users}" class="sidebar-link">View All Users</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
     		 </th:block>
                <li class="help-center">
                    <h3>Help Center</h3>
                    <p>We're an award-winning, forward thinking</p>
                    <a href="#" class="btn btn-sm btn-light">Go to Help Center</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- main sidebar end -->
</body>
</html>